<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/4.1/phpunit.xsd"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         strict="false"
         verbose="false"
         backupGlobals="false"
         bootstrap="src/IdentityAccess/Test/Resource/_files/iddd_identity_access/app/bootstrap.php.cache">

    <php>
        <ini name="date.timezone" value="Europe/Madrid" />
        <ini name="memory_limit" value="1024M" />
        <server name="KERNEL_DIR" value="src/IdentityAccess/Test/Resource/_files/iddd_identity_access/app/" />
    </php>

    <testsuites>
        <testsuite name="IDDD samples test suite">
            <directory>src/*/Test</directory>
            <directory>src/IdentityAccess/Test/Resource/_files/iddd_identity_access/src/*/*Bundle/Tests</directory>
            <directory>src/IdentityAccess/Test/Resource/_files/iddd_identity_access/src/*/Bundle/*Bundle/Tests</directory>
        </testsuite>
    </testsuites>

</phpunit>